@font-face {
    font-family: 'Satisfy';
    src: url('/Satisfy-Regular.ttf') format('truetype');
}

/* The navigation bar */
body, .navbar {
    margin: 0;
    padding: 0;
}
.navbar {
    overflow: hidden;
    background-color: #1b2b39;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adding a box shadow */
}

  /* Links inside the navbar */
/* Links inside the navbar */
.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Position links */
.navbar a:nth-child(1) {
    float: left; /* Home link to the left */
    transition: background 0.3s, color 0.3s;
}

.navbar a:nth-child(2) {
    float: right; /* Contact link to the right */
    transition: background 0.3s, color 0.3s;
}

.Bal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px; /* Set the height of the .Bal container to 100% */
    margin: 0;
    padding: 0;
}

.balance-text {
    background-color: #252525;
    color: white;
    padding: 5px;
    border-top-left-radius: 5px; /* Applies border-radius only to the top left corner */
    border-bottom-left-radius: 5px; /* Applies border-radius only to the bottom left corner */
}
.balance-bal {
    background-color: #444444;
    color: white; /* Set the text color to white or your desired color */
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.balance {
    background-color: #444444; /* Set your desired background color here */
    /* You can also add more styles if needed */
    padding: 5px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: rgb(0, 0, 0);
}

  /* Main content */
.main {
    margin-top: 65px;
    text-align: center; /* Center the content inside the .main div */
}

.genRace {
    background-color: #4CAF50; /* Set the background color of the button */
    color: white; /* Set the text color of the button */
    padding: 15px 32px; /* Set padding for the button */
    font-size: 16px; /* Set the font size of the button text */
    border: none; /* Remove border from the button */
    cursor: pointer; /* Add a pointer cursor to the button */
    border-radius: 5px; /* Optional: Add rounded corners to the button */
}

/* Change button color on hover */
.genRace:hover {
    background-color: #45a049;
}


body {
    background-color: rgb(48, 55, 59);
    color: white
}